1-EDGE-COMPUTING-COMPUTER/AULA-08-05-2024/flows.json
[
    {
        "id": "181d0bea7714b19b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7b9a865b816bc19",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a86763fd0f76d66",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bfe710526d8f59e2",
        "type": "ui_group",
        "name": "Default",
        "tab": "f7b9a865b816bc19",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0583bb957780ac46",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "f7b9a865b816bc19",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "7b15de7d914dd1a8",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "f7b9a865b816bc19",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "61bbcc5e03fed9ed",
        "type": "inject",
        "z": "181d0bea7714b19b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alexandre",
        "payloadType": "str",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "ec8b51f170e66df9"
            ]
        ]
    },
    {
        "id": "366b0c5cc98edf0b",
        "type": "debug",
        "z": "181d0bea7714b19b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "ec8b51f170e66df9",
        "type": "http request",
        "z": "181d0bea7714b19b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-23.5325&lon=-46.7917&appid=a669c7581a465a7a7c6ca5cea61e378f&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "8e55538553f07cfb"
            ]
        ]
    },
    {
        "id": "8e55538553f07cfb",
        "type": "json",
        "z": "181d0bea7714b19b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "90e0c5d994259901",
                "1fc5b42e29a6708b",
                "cc96e0f680156398"
            ]
        ]
    },
    {
        "id": "90e0c5d994259901",
        "type": "change",
        "z": "181d0bea7714b19b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "366b0c5cc98edf0b",
                "9984f5f94d1d74e1"
            ]
        ]
    },
    {
        "id": "1fc5b42e29a6708b",
        "type": "change",
        "z": "181d0bea7714b19b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "366b0c5cc98edf0b",
                "5e6b6cb77ae73705"
            ]
        ]
    },
    {
        "id": "9984f5f94d1d74e1",
        "type": "ui_gauge",
        "z": "181d0bea7714b19b",
        "name": "",
        "group": "bfe710526d8f59e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "cc96e0f680156398",
        "type": "change",
        "z": "181d0bea7714b19b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "b279f46f0d15bdf2"
            ]
        ]
    },
    {
        "id": "5e6b6cb77ae73705",
        "type": "ui_gauge",
        "z": "181d0bea7714b19b",
        "name": "",
        "group": "0583bb957780ac46",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura Mínima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "b279f46f0d15bdf2",
        "type": "ui_gauge",
        "z": "181d0bea7714b19b",
        "name": "",
        "group": "0583bb957780ac46",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "4fdbe0b660f273cb",
        "type": "change",
        "z": "181d0bea7714b19b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "3d22fe87cdbd224c"
            ]
        ]
    },
    {
        "id": "3d22fe87cdbd224c",
        "type": "ui_gauge",
        "z": "181d0bea7714b19b",
        "name": "",
        "group": "7b15de7d914dd1a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vel. Vento",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 160,
        "wires": []
    }
]